<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682040526431-jmpmm96aemucm8pv556qj03r29q40hj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682040526431-jmpmm96aemucm8pv556qj03r29q40hj5</string>
	<key>API_KEY</key>
	<string>AIzaSyCD5RCnkt50h_qEtR2w1NOItqdh1vjibM4</string>
	<key>GCM_SENDER_ID</key>
	<string>682040526431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Starovoytov.Notes</string>
	<key>PROJECT_ID</key>
	<string>notes-a90b5</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-a90b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682040526431:ios:529182fbf870f464157dea</string>
</dict>
</plist>